<?xml version="1.0" encoding="UTF-8"?>

<persistence version="2.1"
			 xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="
        http://xmlns.jcp.org/xml/ns/persistence
        http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">

	<persistence-unit name="primary" transaction-type="JTA">

		<class>com.wizzdi.segmantix.impl.model.Baseclass</class>
		<class>com.wizzdi.segmantix.impl.model.Basic</class>
		<class>com.wizzdi.segmantix.impl.model.OperationCategory</class>
		<class>com.wizzdi.segmantix.impl.model.OperationGroup</class>
		<class>com.wizzdi.segmantix.impl.model.OperationGroupLink</class>
		<class>com.wizzdi.segmantix.impl.model.InstanceGroup</class>
		<class>com.wizzdi.segmantix.impl.model.InstanceGroupLink</class>
		<class>com.wizzdi.segmantix.impl.model.Role</class>
		<class>com.wizzdi.segmantix.impl.model.RoleSecurity</class>
		<class>com.wizzdi.segmantix.impl.model.RoleToUser</class>
		<class>com.wizzdi.segmantix.impl.model.SecurityEntity</class>
		<class>com.wizzdi.segmantix.impl.model.Security</class>
		<class>com.wizzdi.segmantix.impl.model.SecurityGroup</class>
		<class>com.wizzdi.segmantix.impl.model.Operation</class>
		<class>com.wizzdi.segmantix.impl.model.Tenant</class>
		<class>com.wizzdi.segmantix.impl.model.User</class>
		<class>com.wizzdi.segmantix.impl.model.TenantSecurity</class>
		<class>com.wizzdi.segmantix.impl.model.TenantToUser</class>
		<class>com.wizzdi.segmantix.impl.model.UserSecurity</class>

		<exclude-unlisted-classes>true</exclude-unlisted-classes>
	</persistence-unit>


</persistence>
